.parent{
    background-color: rgb(255, 0, 0);
    height: 30vh;
    width: 30vw;
}
.child{
    color: #00f;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
}
.parentTwo{
    background-image: url(http://x7d4c5z5.stackpathcdn.com/wp-content/uploads/2014/10/css3.jpg);
    width: 30vw;
    height: 30vh;
}
#childTwo{
    color: #00f;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
}